<div class="jumbotron text-center container-fluid">
	<h2 class="text-primary"><font size=8> Welcome to the Chat-App</font></h2>
	<p> To start chatting you must be signed in! </p>
	<p><%= link_to "Sign In", new_user_session_path, class: "btn btn-lg btn-primary" %></p>
	<p> Don't have an account yet? Sign up below! </p>
	<p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-success" %>
	</p>
</div>