<div class="text-center container-fluid jumbotron">
	<h1 class="text-primary"> Welcome to the Chat-App </h1>
	<p> To start chatting you must press the chat button below! </p>
	<p><%= link_to "Chat", chat_path, class: "btn btn-lg btn-success" %></p>
</div>